   
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: #f4f6f9;

    }


    .container
    {
        width: 100%;
        min-height: calc(100vh - 70px);
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;   
        padding-top:40px ;     
    }

    
    .form-box
    {
        background: white;
        padding: 30px 40px;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        width: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .edit-form-box{
        background: white;
        padding: 30px 40px;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        width: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    .form-box h2 {
        margin: 0;
        margin-top: 12px;
        color: #0071c2; /* Matching blue */
        font-size: 24px;
    }

    .formimg{
        width: 90px;

    }

    
    input,select

    {
         box-sizing: border-box;
        width: 100%;
        padding: 12px 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
        outline: none;
        transition: 0.3s;
    }

    textarea{
        box-sizing: border-box;
        width: 100%;
        min-height: 150px;
        padding: 12px 14px;
        line-height: 1.5;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
        outline: none;
        transition: 0.3s;
        resize: vertical;
    }

     input:focus {
        border-color: #0071c2; /* Matching blue */
        
    }

    .password-icon{
        display: flex;
        gap:10px;
        align-items: center;
        padding: 12px 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
        transition: 0.3s;
    }

    .password-icon:focus-within{
         border-color: #0071c2;
        
    }
    .password-icon input{
        border: none;
        padding: 0;

    }
    .password-icon img{
        height: 15px;
        width: 15px;
        cursor: pointer;
        
    }

    .email_error,.password_error,.phone_validate_error{
        margin: 0;
        color: red;
        text-align: left;
        margin-left: 12px;
        margin-top: 5px;
    }

     button{
        width: 100%;
        padding: 12px;
        background: #0071c2; /* Matching blue */
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;
        
    }
    

    button:hover {

         background: #005a9b; /* Darker blue on hover */

    }

    

   

    

    .msg ,
    .error{
        color: red;
        font-size: 14px;
        margin-top: 10px;
        font-weight: bold;
       
       
    }

    .success  {
        color: green;
        font-size: 14px;
        margin-top: 20px;
    }

/* for edit profile css */
.wrapper {
    padding: 60px;
    width: 100%;
    min-height: calc(100vh - 300px); /* adjust if navbar + footer height ~140px */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
   
    /* margin-top: 40px; */
    box-sizing: border-box;
}

.content h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #0071c2;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}
.profile-card {
    background: #f9f9f9;
    padding: 30px ;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}
.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



label {
    display: block; 
    font-weight: bold;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
}



/* Styling for Edit Hotel and Add hotel for admin */


/* .edithotel form,
.addhotel {
            background: white;
            width: 420px;
            margin: 30px auto;
            padding: 25px 30px;
            border-radius: 10px;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
        }



    h2 { 
            text-align: center; color: #253a4d; margin-bottom: 20px; 
    } */

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    

    