html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 29px;
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    min-height: 100%;
    padding: 12px;
    
    
    
}

.content {
    flex: 1;
    
}


.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #1a3d7c;
    padding: 15px 25px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}








.mybookingh2 h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;

}
.booking-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-content: center;

}

.booking-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    max-width: 500px;
    min-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}



.booking-card b {
    font-size: 18px;
    color: #34495e;
}

.booking-card i {
    color: #e74c3c;
}

.booking-info {
            margin: 8px 0;
            color: #333;
        }

.action-group {
            margin-top: 15px;
            display: flex;
            gap: 12px;
        }

.booking-card button {
            flex: 1;
            padding: 10px 12px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            color: white;
            font-size: 15px;
        }

    .btn-cancel { 

        background-color: #27ae60;

        }
    .btn-cancel:hover { 

        background-color: #2ecc71; 
    }

    .btn-invoice  { 

        background-color: #2980b9; 
    }

    .btn-invoice:hover { 
        
        background-color: #3498db; 
    }


    .no-bookings {
        text-align: center;
        color: #555;
    }

    /* Status */
    .status-booked { 
        color: #27ae60; 
        font-weight: bold; 
    }
    .status-cancel_requested { 
        color: #f39c12; 
        font-weight: bold; }
    .status-canceled { 
        color: #e74c3c; 
        font-weight: bold; 
    }











.booking-container {
    width: 80%;
    margin: 40px auto;
    margin-top:80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}




